body{

}

nav{
	background-color: #e0b3ff;	
	font-size: 20px;
}

.footer a {
  display: block;
  color: black;
  text-align: center;
  /*padding: 14px 16px;*/
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}

li {
  float: left;
}

nav a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #ebccff;
}

footer{
	background-color: #e0b3ff;
	padding-top: 10px;
	font-size: 20px;
	display: block;
	color: black;
}

p{
	font-size: 20px;
	text-align: justify;
}

div.card-header{
	background-color: #c44dff;
}

div.card{
	border-radius: 15px;
  	margin: 0 auto;
  	box-shadow: 0 10px 15px rgba(0,0,0,0.3);
}